<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My list</title>
</head>
<body>
    <h1>My project</h1>
    <h2>Model List</h2>
    <table>
        <thead>
        <tr>
            <th> num </th>
            <th> des </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${params}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.description}"></td>
        </tr>
        </tbody>


<!--        <tbody>-->
<!--        <tr data-th-each="parametr : ${params}">-->
<!--            <td data-th-text="${parametr.id}"></td>-->
<!--            <td data-th-text="${parametr.description}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
    </table>

</body>
</html>