<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


        body.white-background {
            background-color: white; /* Цвет фона */
            color: black;
        }

        body.dark-theme {
            background-color: #3B3B3B;
            color: white;
        }
    </style>
</head>
<body>
<div style="display: flex; align-items: flex-start;">
    <img th:src="@{/image/logo}" alt="logo" width="50px" height="50px" style="margin-right: 10px;" class="photo" onclick="changeTheme()">
    <a href="" style="flex-grow: 1;">
        <img th:src="@{/image}" alt="koichi" style="width: 70%; height: 50px;">
    </a>
</div>
<hr>
<h2 th:text="${header1}">Здесь будет заголовок</h2>


<script>

    let clickCount = 0;

    function changeTheme() {
        document.body.classList.toggle('dark-theme');
    }
</script>
</body>
</html>